<launch>
  <arg name="node_start_delay" default="0.0"/>


  <!-- INITIAL POSITIONING -->
  <!-- <node pkg="fleet_turtle"
        type="initial_position.py" 
        name="initializer"
        >
    <param name="~target_frame" value="base_footprint"/>
    <param name="~source_frame" value="odom"/>
  </node> -->


  <!-- GOAL BROADCASTER NODE -->
    <node name="action_move_base" 
    pkg="fleet_turtle" 
    type="action_move_base.py" 
    respawn="true"
    output="screen" 
    args="" 
    >

    <!-- launch-prefix="xterm -e /bin/bash -c 'sleep $(arg node_start_delay); $0 $@' " -->
      <!-- <remap from="cmd_vel" to="/robot1/cmd_vel"/> -->
      <!-- <param name="~objectives_file_location" value="$(arg objectives_file_location)"/> -->
    </node>
  






</launch>