<launch>
  <arg name="gui" default="false"/>
  <param name="/use_sim_time" value="true" />

  <!-- ENVIRONMENT -->
  <!-- <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" respawn="false" output="screen" /> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/fleet_square.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- FLEET -->
  <include file="$(find fleet_turtle)/launch/robots_O.launch"/>
</launch>